$gradientBackground: linear-gradient(
  140deg,
  rgba(81, 155, 122, 1) 0%,
  rgba(203, 225, 214, 1) 67%,
  rgba(255, 255, 254, 1) 100%
);
$backgroundColor: #fffffe;

$primaryColor: #519b7a;
$secondaryColor: #344e41;
$tertiaryColor: #e5573f;

$primaryFontColor: #425864;
